<div uib-collapse="!main.DEBUG" class="row">
  <div class="col-xs-12">
    Current citation<pre>{{citation | json}}</pre>
  </div>
</div>
<!--debug vars-->

<div class="col-xs-12">
  <div class="col-sm-6">
    ID: <b>{{citation.id}}</b>
    <a ng-show="main.user.username" class="btn btn-xs btn-default" ui-sref="main.citations.edit({id:citation.id})"><i class="fa fa-pencil"></i> Edit</a>
    <hr>
    <ul class="list-group">
      <li ng-repeat="field in citation.fields" ng-if="citation.current[field.value]" class="list-group-item">
        {{field.label}} : <carre-linker model="citation.current" property="{{field.value}}"></carre-linker>
      </li>
    </ul>
  </div>
  <div class="col-sm-6">
        <carre-view-pubmed ng-if="citation.pubmedId" id="{{citation.pubmedId}}"></carre-view-pubmed>
  </div>

</div>
