<div>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Explore 
            <small>
            </small>
            </h2>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <!--<div class="col-xs-3">-->
        <!--    <input type="text" placeholder="Enter risk factor id or risk element id" ng-model="explore.id_input"/>-->
        <!--    <button ng-click="explore.setNewId()">Set new ID</button>-->
        <!--</div>-->
        <div class="col-xs-12">
            <carre-graph-risk ng-if="explore.ready" limit-new-connections="4" id="explore.id"></carre-graph-risk>
        </div>
        <!--<div class="col-xs-12">-->
        <!--    <button ng-click="explore.startNetwork()" class="btn btn-primary">Reload</button>-->
        <!--    <div id="mynetwork"></div> -->
        <!--</div>-->
               
    </div>
</div>
