<div>

  <div class="row">
    <h1 class="page-header">Observables</h1>
  </div>

  <div uib-collapse="!main.DEBUG" class="row">
    <div class="col-xs-6">
      <labe>Configuration<pre>{{main.config | json}}</pre></label>
    </div>
    <div class="col-xs-6">
      <labe>User<pre>{{main.user | json}}</pre></label>
    </div>
    <div class="col-xs-6">
      <labe>Sample Bioportal<pre>{{observables.bioportalData[0] | json}}</pre></label>
    </div>
    <div class="col-xs-6">
      <labe>Sample Observable<pre>{{observables.mygrid.data[0] | json}}</pre></label>
    </div>
  </div>

  <div class="row">
    <div>
      <div id="grid1" ui-grid="observables.mygrid" ui-grid-pagination ui-grid-selection ui-grid-resize-columns ui-grid-move-columns ui-grid-exporter ui-grid-auto-resize class="grid"></div>
    </div>

    <div pageslide ps-size="640px" ps-open="observables.selectedObservable.entity" ps-side="right">
      <div cg-busy="{promise:observables.loading,message:'Searching Bioportal...',backdrop:false,minDuration:700}" style="padding:30px;">

        <a href="" ng-click="observables.setBioportal()" class="button"><i class="fa fa-times fa-lg"></i></a>
        <br>
        <br>
        <h4>Observable : <u>{{observables.selectedObservable.entity.has_observable_name}}</u></h4>
        <hr>
        <div ng-show="observables.bioportalData.length===0" class="alert alert-warning">Bioportal didn't return anything useful...
          <a href="" ng-click="observables.setBioportal(null, observables.selectedObservable,true)">Try without the defined CUI</a> 
        </div>
        <div style="overflow-y: auto;height: 80%; width:600px; position: fixed;">
          <ul>
            <li ng-repeat="obj in observables.bioportalData">
              <h4>{{obj.prefLabel}}</h4> UMLS : <a ng-href="{{ obj.links.ui | trustAsResourceUrl }}" class="btn btn-xs btn-primary" target="_blank">{{obj.cui[0]}}</a>
              <br> Ontology: {{obj.links.ontology.substring(obj.links.ontology.lastIndexOf('/')+1)}}
              <br>

              <p ng-bind-html="obj.definition[0]"></p>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>


</div>