<!--observables list template-->
<div class="col-xs-12">
  <div cg-busy="observables.gridLoading" id="grid1" ui-grid="observables.mygrid" ui-grid-pagination ui-grid-selection ui-grid-resize-columns ui-grid-move-columns ui-grid-exporter ui-grid-auto-resize class="grid"></div>
</div>
<div pageslide ps-size="640px" ps-open="observables.selectedObservable" ps-side="right">
  
  <div cg-busy="observables.loading" style="padding:10px;">
    <a ui-sref="main.observables.view({id:observables.selectedObservable})" class="btn btn-primary">Profile</a>
    <a href="" ng-click="observables.setPubmed()" class="btn btn-primary"><i class="fa fa-times fa-lg"></i></a>
    <br>
    <br>
    <div ng-if="observables.selectedObservable">
      <div ng-if="observables.pubmedApi" style="white-space: pre-line; overflow-y: auto;height: 95%; width:620px; position: fixed;" ng-bind-html="observables.pubmedArticle"></div>

      <iframe ng-if="!observables.pubmedApi" style="border:none; position: fixed; height:90%; width:620px" height="90%" width="620px" src="{{'http://www.ncbi.nlm.nih.gov/pubmed/'+observables.selectedObservable | trustAsResourceUrl}}"></iframe>
    </div>
  </div>
  
</div>
