<div uib-collapse="!main.DEBUG" class="row">
  <div class="col-xs-12">
    Current risk_element<pre>{{risk_element | json}}</pre>
  </div>
</div>
<!--debug vars-->

<div class="col-xs-12">
  <div class="col-sm-6">
    <a ng-show="main.user.username" class="btn btn-xs btn-primary" ui-sref="main.risk_elements.edit({id:risk_element.id})"><i class="fa fa-pencil"></i> Edit</a>    
    <div ng-show="main.user.username && main.config.ENV==='DEV'"> 
      ID: <b>{{risk_element.id}}</b>
      <a class="btn btn-xs btn-danger" href="" ng-click="risk_element.deleteCurrent()"><i class="fa fa-trash-o"></i> Delete</a>
    </div>
    <ul class="list-group">
      <li ng-repeat="field in risk_element.fields" ng-if="risk_element.current[field.value]" class="list-group-item">
        {{field.label}}: <carre-linker model="risk_element.current" property="{{field.value}}"></carre-linker>
      </li>
    </ul>
  </div>
  <div class="col-sm-6">
    
    <div ng-if="main.config.ENV==='DEV'" class="row">
      <div class="col-xs-12">
        Risk element Associations<pre>{{risk_element.risk_associations | json}}</pre>
      </div>
    </div>
    <!--<div cg-busy="{promise:risk_elements.loading,message:'Searching Bioportal...',backdrop:false,minDuration:700}" style="padding:25px;">-->

    <!--  <h4>Risk_element:  <u>{{risk_elements.selectedRisk_element.entity.has_risk_element_name}}</u></h4>-->
    <!--  <hr>-->
    <!--  <div ng-show="risk_elements.bioportalData.length===0" class="alert alert-warning">Bioportal didn't return anything useful...-->
    <!--    <a href="" ng-click="risk_elements.setBioportal(null, risk_elements.selectedRisk_element,true)">Try without the defined CUI</a>-->
    <!--  </div>-->

    <!--  <div style="overflow-y: auto;height: 90%; ">-->
    <!--    <ul>-->
    <!--      <li ng-repeat="obj in risk_elements.bioportalData">-->
            <!--<i ng-show="obj.cui.indexOf(risk_elements.selectedRisk_element.entity.has_risk_element_identifier_label)>-1" class="fa fa-x2 fa-arrow-left"></i>-->
    <!--        <h4>{{obj.prefLabel}} </h4> UMLS : {{obj.cui.join(', ')}} <a ng-href="{{ obj.links.ui | trustAsResourceUrl }}" target="_blank">Bioportal</a>-->
    <!--        <br> Ontology: {{obj.links.ontology.substring(obj.links.ontology.lastIndexOf('/')+1)}}-->
    <!--        <br>-->

    <!--        <p ng-bind-html="obj.definition[0]"></p>-->
    <!--      </li>-->
    <!--    </ul>-->
    <!--  </div>-->
    <!--</div>-->

  </div>

</div>
