<div>
 <form name="form" novalidate>
    
    <div class="form-group" ng-class="{ 'has-error': form.name.$touched && form.name.$invalid }">
      <label>Name</label>
      <input type="text" name="name" class="form-control" 
        ng-model="main.name"
        ng-minlength="5"
        ng-maxlength="10"
        required>
        
      <div class="help-block" ng-messages="form.name.$error" ng-if="form.name.$touched">
        <p ng-message="minlength">Your name is too short.</p>
        <p ng-message="maxlength">Your name is too long.</p>
        <p ng-message="required">Your name is required.</p>
      </div>
    </div>
    
    <div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
      <label>Email</label>
      <input type="email" name="email" class="form-control" 
        ng-model="main.email"
        ng-minlength="5"
        ng-maxlength="20"
        required>
        
      <div class="help-block" ng-messages="form.email.$error" ng-if="form.email.$touched">
        <div ng-messages-include="messages.html"></div>
      </div>
      
    </div>
    
    <div class="form-group">
      <button type="submit" class="btn btn-danger">Submit</button>
    </div>
    
  </form>
  
<pre>form.name.$error = {{ form.name.$error | json }}</pre>
<pre>{{ model | json }}</pre>

</div>