<div>
  
  <form name="form" novalidate ng-submit="saveModel()">

    <div class="form-group" ng-class="{ 'has-error': form.name.$touched && form.name.$invalid }">
      <label>Name</label>
      <input type="text" name="name" class="form-control" ng-model="risk_element.name" ng-minlength="5" required>

      <div class="help-block" ng-messages="form.name.$error" ng-if="form.name.$touched">
        <p ng-message="minlength">Your name is too short.</p>
        <p ng-message="required">Your name is required.</p>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
      <label>Modifiable status</label>
      <input type="checkbox" ng-true-value="'yes'" ng-false-value="'no'" ng-model="risk_element.modifiable_status">

    </div>

    <div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
      <label>Risk element type</label>

      <ui-select ng-model="risk_element.type" theme="bootstrap" ng-disabled="disabled" style="min-width: 300px;">
        <ui-select-match placeholder="Select risk element type">{{$select.selected.label}}</ui-select-match>
        <ui-select-choices repeat="type.value as type in types | propsFilter: {label: $select.search, age: $select.search}">
          <div ng-bind-html="type.label | highlight: $select.search"></div>
          <!--<small> {{type.label}} </small>-->
        </ui-select-choices>
      </ui-select>

      <div class="help-block" ng-messages="form.email.$error" ng-if="form.email.$touched">
        <div ng-messages-include="messages.html"></div>
      </div>

    </div>


    <div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">

      <!-- on-select="addOutcome($item, $model)" -->
      <label>Risk element Identifier</label>
      <div ng-show="loadingElementIdentifier" class="loadingSelect"></div>

      <ui-select ng-model="risk_element.identifier" theme="bootstrap" ng-disabled="disabled" style="min-width: 300px;" title="Get risk element identifier">
        <ui-select-match placeholder="Search for CUI...">{{$select.selected.value}}</ui-select-match>
        <ui-select-choices repeat="elem.value as elem in bioportalAutocompleteResults" refresh="bioportalAutocomplete($select.search)" refresh-delay="1000">
          <div ng-bind-html="elem.label | highlight: $select.search"></div>
          <small>{{elem.value}}</small>
        </ui-select-choices>
      </ui-select>

      <div class="help-block" ng-messages="form.email.$error" ng-if="form.email.$touched">
        <div ng-messages-include="messages.html"></div>
      </div>

    </div>

    <div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
      <label>Observables</label>

      <!--&lt;{{$item.id}}&gt;-->
      <ui-select multiple ng-model="risk_element.observables" theme="bootstrap" ng-disabled="disabled" style="width: 800px;">
        <ui-select-match placeholder="Select person...">{{$item.label}} </ui-select-match>
        <ui-select-choices repeat="ob.id as ob in observables">
          <div ng-bind-html="ob.label | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>

      <div class="help-block" ng-messages="form.email.$error" ng-if="form.email.$touched">
        <div ng-messages-include="messages.html"></div>
      </div>

    </div>



    <div class="form-group">
      <button type="submit" class="btn btn-danger">Submit</button>
    </div>

  </form>

  <pre>form.name.$error = {{ form.name.$error | json }}</pre>
  <pre>{{ risk_element | json }}</pre>

</div>