<div uib-collapse="!main.DEBUG" class="row">
  <div class="col-xs-12">
    Current observable<pre>{{observable | json}}</pre>
  </div>
</div>
<!--debug vars-->

<div class="col-xs-12">
  <div class="col-sm-6">
    ID: <b>{{observable.id}}</b>
    <a ng-show="main.user.username" class="btn btn-xs btn-default" ui-sref="main.observables.edit({id:observable.id})"><i class="fa fa-pencil"></i> Edit</a>
    <hr>
    <ul class="list-group">
      <li ng-repeat="field in observable.fields" ng-if="observable.current[field.value]" class="list-group-item">
        {{field.label}} : <carre-linker model="observable.current" property="{{field.value}}"></carre-linker>
      </li>
    </ul>
  </div>
  <div class="col-sm-6">

  </div>

</div>
