<div>
  <!--<pre>{{risk_review}}</pre>-->
  <form name="form" novalidate ng-submit="saveModel()">


    <div class="form-group">
      <label>Medical Expert</label>
      <ui-select ng-model="risk_review.is_assigned_to" theme="bootstrap">
        <ui-select-match placeholder="Select Medical Expert">{{$select.selected.label}} </ui-select-match>
        <ui-select-choices repeat="obj.value as obj in medical_experts | propsFilter: {label: $select.search}">
          <div ng-bind-html="obj.label | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
    </div>



    <div class="form-group">
      <button type="button" ng-click="$parent.$parent.assign_popover_open = false" class="btn btn-danger">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>

  </form>

  <!--<pre>form.name.$error = {{ form.name.$error | json }}</pre>-->
  <!--<pre>{{ risk_review | json }}</pre>-->

</div>