<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">

        <button type="button" class="navbar-toggle" ng-click="toggleNavbar()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
            <img src="assets/images/carre_logo.png" class="logo" alt="CARRE">
        CARRE DSS entry system</a>
    </div>
    
    <!-- /.navbar-header -->
    <header-notification></header-notification>
    
</nav>
