<div uib-collapse="!main.DEBUG" class="row">
  <div class="col-xs-12">
    Current medical_expert<pre>{{medical_expert | json}}</pre>
  </div>
</div>
<!--debug vars-->

<div class="col-xs-12">
  <div class="col-sm-6">
    ID: <b>{{medical_expert.id}}</b>
    <hr>
    <ul class="list-group">
      <li ng-repeat="field in medical_expert.fields" ng-if="medical_expert.current[field.value]" class="list-group-item">
        {{field.label}}: <carre-linker model="medical_expert.current" property="{{field.value}}"></carre-linker>
      </li>
    </ul>
  </div>
  <div class="col-sm-6">


  </div>

</div>
