<div uib-collapse="!main.DEBUG" class="row">
  <div class="col-xs-12">
    Current medical_expert<pre>{{medical_expert | json}}</pre>
  </div>
</div>
<!--debug vars-->

<div class="col-xs-12">
  <div class="col-sm-6">    
    <div ng-show="main.user.username && main.config.ENV==='DEV'"> 
      ID: <b>{{medical_expert.id}}</b>
      <a class="btn btn-xs btn-danger" href="" ng-click="medical_expert.deleteCurrent()"><i class="fa fa-trash-o"></i> Delete</a>
    </div>
    <div class="thumbnail" style="display: inline-block;">
      <img class="avatar-img" ng-src="{{medical_expert.current.has_avatar[0]}}">
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        Name: <b>
          {{medical_expert.current.has_firstname_label}} 
          {{medical_expert.current.has_lastname_label}}, 
          {{medical_expert.current.has_educational_degree_label}}
          </b>
      </li>
      <li class="list-group-item">
        Medical specialty: <b>
          <a target="_blank" ng-href="{{medical_expert.current.has_medical_specialty_link}}"> {{medical_expert.current.has_medical_specialty_label}} </a>
          </b>
      </li>
      <li class="list-group-item">
        Medical Positions: 
          <ul style="padding-left:5px">
            <li style="list-style-type: none;" ng-repeat="pos in medical_expert.current.has_medical_position">
            <b><i class="fa fa-angle-right fa-lg fa-x2"></i>  {{ pos}}</b> </li>
          </ul>
      </li>
      <li ng-if="medical_expert.current.has_short_cv.length>1" class="list-group-item">
        Short CV: <b>
          {{medical_expert.current.has_short_cv}}
          </b>
      </li>
      <li ng-if="medical_expert.current.has_personal_page_url" class="list-group-item">
        More details: <b>
          <a target="_blank" ng-href="{{medical_expert.current.has_personal_page_url[0]}}"> link </a>
          </b>
      </li>
      <li ng-if="medical_expert.current.is_coordinator_of_team" class="list-group-item">
        Coordinator: <b>
         {{medical_expert.current.is_coordinator_of_team[0]}} team
        </b>
      </li>
      <li ng-if="!medical_expert.current.is_coordinator_of_team" class="list-group-item">
        Team: <b>
          {{medical_expert.current.has_team_name[0]}}
        </b>
      </li>
      
      
     	  <b></b>
     	  <hr>
    </ul>
  </div>
  <div class="col-sm-6">
      <canvas height="170%" class="chart chart-bar chart-sm" chart-legend="true" chart-data="medical_expert.counterchart_data" chart-series="medical_expert.counterchart_series" chart-labels="medical_expert.counterchart_labels" chart-options="medical_expert.counterchart_options"></canvas>


  </div>

</div>
