<div>
  
  <form name="form" novalidate ng-submit="saveModel()">


    <div class="alert alert-warning" ng-bind-html="output"></div>
    <carre-linker ng-if="reset" model="model" property="has_observable_condition"></carre-linker>
    
    <le-editor observables="observables" group="filter.group"></le-editor>
    
    <div ng-show="$parent.main.config.ENV==='DEV'" class="row">
      <div class="col-xs-6">
        <pre>{{model.has_observable_condition_json|json}}</pre>
      </div>
      <div class="col-xs-6">
        {{model.has_observable_condition_label}}
      </div>
    </div>
      
    <!--<div class="form-group" ng-class="{ 'has-error': form.name.$touched && form.name.$invalid }">-->
    <!--  <label>Condition</label>-->
    <!--  <input type="text" name="name" placeholder="Risk element name e.g acute kidney disease" class="form-control" ng-model="risk_evidence.name" required>-->

    <!--  <div class="help-block" ng-messages="form.name.$error" ng-if="form.name.$touched">-->
    <!--    <p ng-message="required">Name is required.</p>-->
    <!--  </div>-->
    <!--</div>-->
    

    <!--<div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">-->
    <!--  <label>Modifiable status</label>-->
    <!--  <input type="checkbox" ng-true-value="'yes'" ng-false-value="'no'" ng-model="risk_evidence.modifiable_status">-->

    <!--</div>-->

    <!--<div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">-->
    <!--  <label>Risk element type</label>-->

    <!--  <ui-select ng-model="risk_evidence.type" theme="bootstrap">-->
    <!--    <ui-select-match placeholder="Select risk element type">{{$select.selected.label}}</ui-select-match>-->
    <!--    <ui-select-choices repeat="type.value as type in types | propsFilter: {label: $select.search}">-->
    <!--      <div ng-bind-html="type.label | highlight: $select.search"></div>-->
          <!--<small> {{type.label}} </small>-->
    <!--    </ui-select-choices>-->
    <!--  </ui-select>-->

    <!--  <div class="help-block" ng-messages="form.email.$error" ng-if="form.email.$touched">-->
    <!--    <div ng-messages-include="messages.html"></div>-->
    <!--  </div>-->

    <!--</div>-->


    <!--<div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">-->

      <!-- on-select="addOutcome($item, $model)" -->
    <!--  <label>Risk element Identifier</label>-->
    <!--  <div ng-show="loadingElementIdentifier" class="loadingSelect"></div>-->

    <!--  <ui-select ng-model="risk_evidence.identifier" theme="bootstrap">-->
    <!--    <ui-select-match placeholder="Search for CUI...">{{$select.selected.label+' - '+$select.selected.value}}</ui-select-match>-->
    <!--    <ui-select-choices repeat="elem.value as elem in bioportalAutocompleteResults" refresh="bioportalAutocomplete($select.search)" refresh-delay="500">-->
    <!--      <div ng-bind-html="elem.label | highlight: $select.search"></div>-->
    <!--      <small>{{elem.value}}</small>-->
    <!--    </ui-select-choices>-->
    <!--  </ui-select>-->

    <!--  <div class="help-block" ng-messages="form.email.$error" ng-if="form.email.$touched">-->
    <!--    <div ng-messages-include="messages.html"></div>-->
    <!--  </div>-->

    <!--</div>-->

    <!--<div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">-->
    <!--  <label>Observables</label>-->

      <!--&lt;{{$item.id}}&gt;-->
    <!--  <ui-select multiple ng-model="risk_evidence.observables" theme="bootstrap">-->
    <!--    <ui-select-match placeholder="Select observables">{{$item.label}} </ui-select-match>-->
    <!--    <ui-select-choices repeat="ob.value as ob in observables | propsFilter: {label: $select.search}">-->
    <!--      <div ng-bind-html="ob.label | highlight: $select.search"></div>-->
    <!--    </ui-select-choices>-->
    <!--  </ui-select>-->

    <!--  <div class="help-block" ng-messages="form.email.$error" ng-if="form.email.$touched">-->
    <!--    <div ng-messages-include="messages.html"></div>-->
    <!--  </div>-->

    <!--</div>-->



    <div class="form-group">
      <button type="button" ng-click="cancelForm()" class="btn btn-danger">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>

  </form>

  <!--<pre>form.name.$error = {{ form.name.$error | json }}</pre>-->
  <!--<pre>{{ risk_evidence | json }}</pre>-->

</div>