<div uib-collapse="!main.DEBUG" class="row">
  <div class="col-xs-12">
    Review <pre>{{review.current | json}}</pre>
  </div>
</div>
<!--debug vars-->

<div class="col-sm-6">
  
  <ul class="list-group">
    <li ng-repeat="field in review.fields" ng-if="review.current[field.value]" class="list-group-item">
      {{field.label}}:
      <carre-linker model="review.current" property="{{field.value}}"></carre-linker>
    </li>
  </ul>

</div>
<div class="col-sm-6">
  
  <carre-element elem-id="{{review.current.is_for_element}}" mode="edit"></carre-element>
    
</div>
