<!--medical_experts list template-->
<div class="col-xs-12">

  <div class="row">
    
    <div class="col-sm-6 col-lg-4" ng-repeat="item in medical_experts.users track by $index|  orderBy:'$index'">
      <div class="panel panel-default" style="height:300px">

        <div class="panel-heading">
          <a href="" ui-sref="main.medical_experts.view({id:item.id_label})">
     		     {{item.has_firstname_label}} {{item.has_lastname_label}}, {{item.has_educational_degree_label}}
     		   </a>

          <div class="box-tools pull-right">

            <a href="" ui-sref="main.medical_experts.view({id:item.id_label})">
     		     View profile
     		   </a>
          </div>

        </div>

        <div class="panel-body" style="height:220px">
          <b>{{item.has_medical_specialty_label}}</b>
          <hr>
          <ul style="padding-left:5px">

            <li style="list-style-type: none;" ng-repeat="pos in item.has_medical_position">
              <i class="fa fa-angle-right fa-lg fa-x2"></i> {{ pos}}
            </li>

          </ul>
        </div>
        
        <div class="panel-footer" style="padding-bottom:26px">
        
          <span style="float:left">
            <span ng-if="item.is_coordinator_of_team"><b>Coordinator</b></span>
          </span>
          <span style="float:right">{{item.has_team_name[0]}} Team</span>

        </div>

      </div>

    </div>
  </div>
  
</div>
