<div>
  
  <form name="form" novalidate ng-submit="saveModel()">

      
    <div class="col-sm-6">
      
    <div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
      <label>Evidence source</label>
      <ui-select on-select="viewPubmed($item,$model)" class="ui-select-big-text"  ng-model="citation.evidence_source" theme="bootstrap">
        <ui-select-match placeholder="Select evidence source">
          <div>{{$select.selected.title}}</div>
          <div>{{$select.selected.authors}}</div>
          <div>{{$select.selected.date}}</div>
        </ui-select-match>
        <ui-select-choices repeat="obj.value as obj in citations | propsFilter: {title: $select.search,authors: $select.search,date: $select.search}">
          <div class="ui-select-big-text">
          <div ng-bind-html="obj.title | highlight: $select.search"></div>
          <div><small ng-bind-html="obj.authors | highlight: $select.search"></small></div>
          <div><small ng-bind-html="obj.date | highlight: $select.search"></small></div>
          </div>
        </ui-select-choices>
      </ui-select>
    </div>

    <div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
      <label>Study type</label>

      <ui-select ng-model="citation.type" theme="bootstrap">
        <ui-select-match placeholder="Select risk element type">{{$select.selected.label}}</ui-select-match>
        <ui-select-choices repeat="type.value as type in types | propsFilter: {label: $select.search}">
          <div ng-bind-html="type.label | highlight: $select.search"></div>
          <!--<small> {{type.label}} </small>-->
        </ui-select-choices>
      </ui-select>

      <div class="help-block" ng-messages="form.email.$error" ng-if="form.email.$touched">
        <div ng-messages-include="messages.html"></div>
      </div>

    </div>
    

    <div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
      <label>Study Level</label>
      <input type="number" min="1" max="4"  class="form-control" ng-model="citation.level">

    </div>
    
    
    </div>
    

    <div class="col-sm-6">
      <label>Pubmed Id</label>
      <input type="text" name="name" placeholder="Enter pubmed Id" class="form-control" ng-change="loadPubmed()" ng-model="citation.pubmedId" required>
      <carre-view-pubmed ng-if="citation.pubmedId" id="{{citation.pubmedId}}"></carre-view-pubmed>
    </div>


    <div class="form-group">
      <button type="button" ng-click="cancelForm()" class="btn btn-danger">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>

  </form>

  <!--<pre>form.name.$error = {{ form.name.$error | json }}</pre>-->
  <!--<pre>{{ citation | json }}</pre>-->

</div>