<div>

  <div ng-class="{'col-sm-6':!hideviewer}">
    
    <form name="form" novalidate ng-submit="saveModel()">

      <div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">

        <span ng-show="loadingElementIdentifier" class="loadingSelect"></span>
        <label> Evidence source </label>
        <span class="badge badge-default">{{pubmedAutocompleteResultsCount}} Result(s)</span>
        <ui-select on-select="selectPubmed($item,$model)" class="ui-select-big-text" ng-model="citation.pubmedId" theme="bootstrap">
          <ui-select-match placeholder="Select evidence source">
            <div>{{$select.selected.title}}</div>
            <div>{{$select.selected.authorString}}</div>
            <div>{{$select.selected.source}} - {{$select.selected.pubYear}}</div>
          </ui-select-match>
          <ui-select-choices style="max-height: 500px;" repeat="obj.pmid as obj in pubmedAutocompleteResults | propsFilter: { 
          title: $select.search,
          authorString: $select.search,
          source: $select.search,
          pmid: $select.search,
          pubYear: $select.search
        }" refresh="searchPubmed($select.search)" refresh-delay="1000">
            <div class="ui-select-big-text">
              <div ng-bind-html="obj.title | highlight: $select.search"></div>
              <div><small ng-bind-html="obj.authorString | highlight: $select.search"></small></div>
              <div>
                <small ng-bind-html="obj.source | highlight: $select.search"></small> /
                <small ng-bind-html="obj.pubYear | highlight: $select.search"></small> /
                <small ng-bind-html="obj.pmid | highlight: $select.search"></small>
              </div>
            </div>
          </ui-select-choices>
        </ui-select>
      </div>


      <div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
        <label>Citation summary</label>
        <textarea class="form-control" rows="6" ng-model="citation.summary"></textarea>

      </div>

      <script type="text/ng-template" id="newStudyTypeTemplate.html">
        <form ng-submit="addStudyType(citation.type)" class="form-group">
          <input type="text" ng-model="citation.type" class="form-control">
        </form>
      </script>
      <div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
        <label>Study type 
          <a href="" 
            popover-is-open="showNewType" 
            uib-popover-template="'newStudyTypeTemplate.html'" 
            popover-title="New Type: {{citation.type}}" 
            class="btn btn-xs btn-default" 
            ng-click="citation.type=''">New <i class="fa fa-plus"></i></a>
        </label>

        <ui-select ng-model="citation.type" theme="bootstrap">
          <ui-select-match placeholder="Select study type">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="type in types | filter: $select.search">
            <div ng-bind-html="type | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>

        <div class="help-block" ng-messages="form.email.$error" ng-if="form.email.$touched">
          <div ng-messages-include="messages.html"></div>
        </div>

      </div>


      <div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
        <label>Study Level</label>
        <input type="number" min="1" max="4" class="form-control" ng-model="citation.level">

      </div>

      <div class="form-group">
        <button type="button" ng-click="cancelForm()" class="btn btn-danger">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>

    </form>

  </div>

  <div ng-if="!hideviewer" class="col-sm-6">
    <label>Pubmed Id</label>
    <input type="text" name="name" placeholder="Enter pubmed Id" class="form-control" ng-change="loadPubmed()" ng-model="citation.pubmedId" required>
    <carre-view-pubmed ng-if="showPubmed" id="{{citation.pubmedId}}"></carre-view-pubmed>
  </div>
  <!--<pre>form.name.$error = {{ form.name.$error | json }}</pre>-->
  <!--<pre>{{ citation | json }}</pre>-->

</div>
