<ul class="nav navbar-top-links navbar-right">

    <!--user -->
    <li style="position: relative;top: 10px;"><toggle-switch ng-show="main.config.ENV==='DEV'" ng-model="main.DEBUG" knob-label="Debug"><toggle-switch></li>
    
    <!--user -->
    <li ng-show="main.user.username" class="dropdown" uib-dropdown>
        <a href uib-dropdown-toggle>
           Hi {{main.user.username}} <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="uib-dropdown-menu">
            <li><a ng-href="{{main.settingsUrl}}" target="_blank"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
            <li><a ng-href="{{main.passwordUrl}}"><i class="fa fa-user fa-fw"></i> Change password</a></li>
            <li class="divider"></li>
            <li><a id="logoutUrl" ng-href="{{main.logoutUrl}}{{pathname}}"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
        </ul>
    </li>
    
    <li ng-hide="main.user.username">
        <a id="loginUrl" ng-href="{{main.loginUrl}}{{pathname}}">Hello Guest, Login<i class="fa fa-sign-in fa-fw"></i> </a>
    </li>
    
</ul>
