<ul class="nav navbar-top-links navbar-right">

    <!-- /.dropdown -->
    <li ng-show="main.user.username" class="dropdown" uib-dropdown>
        <a href uib-dropdown-toggle>
           Hi {{main.user.username}}<i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="uib-dropdown-menu">
            <li><a href="#"><i class="fa fa-user fa-fw"></i>{{main.user.email}}</a>
            </li>
            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
            </li>
            <li class="divider"></li>
            <li><a ng-href="{{main.logoutUrl}}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <li ng-hide="main.user.username">
        <a ng-href="{{main.loginUrl}}">Hello Guest, Login<i class="fa fa-sign-in fa-fw"></i> </a>
    </li>
    <!-- /.dropdown -->
</ul>
