/* Custom Styles */

.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

.grid {
    height: 500px;
}

.page-header {
    margin-top: 15px;
}


/* Needed for hiding crollbars when pushing */

.ng-pageslide {
    background: #fff;
    -webkit-box-shadow: -1px 0px 11px 1px rgba(50, 50, 50, 0.62);
    -moz-box-shadow:    -1px 0px 11px 1px rgba(50, 50, 50, 0.62);
    box-shadow:         -1px 0px 11px 1px rgba(50, 50, 50, 0.62);
}


.navbar-brand > img.logo {
    display: inline;
    width: auto;
    height: 24px;
}

[ui-view].ng-leave {
  animation: fadeOut 0.8s; 
}

[ui-view].ng-enter {
  animation: fadeIn 0.8s;
}