/* Custom Styles */

.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

.grid {
    height: 500px;
}

.page-header {
    margin-top: 15px;
}


/* Needed for hiding crollbars when pushing */

.ng-pageslide {
    background: #eee;
}
