<div uib-collapse="!main.DEBUG" class="row">
  <div class="col-xs-12">
    Current review<pre>{{risk_review | json}}</pre>
  </div>
</div>
<!--debug vars-->

<div class="col-xs-12">
  <div class="jumbotron">Comming soon</div>
        
        
<!--===================FORM==============================-->
<div>
  
  <form name="form" novalidate ng-submit="saveModel()">

    <div class="form-group">
      <label>Assign to Medical Expert</label>
      <input type="text" name="name" placeholder="Medical expert..." class="form-control" ng-model="risk_review.name" required>

      <div class="help-block" ng-messages="form.name.$error" ng-if="form.name.$touched">
        <p ng-message="required">Name is required.</p>
      </div>
    </div>


    <div class="form-group">
      <button type="button" ng-click="cancelForm()" class="btn btn-danger">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>

  </form>

  <!--<pre>form.name.$error = {{ form.name.$error | json }}</pre>-->
  <!--<pre>{{ risk_review | json }}</pre>-->

</div>



</div>
