<div uib-collapse="!main.DEBUG" class="row">
  <div class="col-xs-12">
    Current review<pre>{{risk_review | json}}</pre>
  </div>
</div>
<!--debug vars-->

<div class="col-xs-12">
  <div class="jumbotron">Comming soon</div>
        
        
<!--===================FORM==============================-->
<div>
  
  <form name="form" novalidate ng-submit="saveModel()">

    <div class="form-group" ng-class="{ 'has-error': form.name.$touched && form.name.$invalid }">
      <label>Name</label>
      <input type="text" name="name" placeholder="Risk element name e.g acute kidney disease" class="form-control" ng-model="risk_element.name" required>

      <div class="help-block" ng-messages="form.name.$error" ng-if="form.name.$touched">
        <p ng-message="required">Name is required.</p>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
      <label>Modifiable status</label>
      <input type="checkbox" ng-true-value="'yes'" ng-false-value="'no'" ng-model="risk_element.modifiable_status">

    </div>

    <div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
      <label>Type</label>

      <ui-select ng-model="risk_element.type" theme="bootstrap">
        <ui-select-match placeholder="Select risk element type">{{$select.selected.label}}</ui-select-match>
        <ui-select-choices repeat="type.value as type in types | propsFilter: {label: $select.search}">
          <div ng-bind-html="type.label | highlight: $select.search"></div>
          <!--<small> {{type.label}} </small>-->
        </ui-select-choices>
      </ui-select>

      <div class="help-block" ng-messages="form.email.$error" ng-if="form.email.$touched">
        <div ng-messages-include="messages.html"></div>
      </div>

    </div>


    <div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">

      <!-- on-select="addOutcome($item, $model)" -->
      <label>Identifier</label>
      <div ng-show="loadingElementIdentifier" class="loadingSelect"></div>

      <ui-select ng-model="risk_element.identifier" theme="bootstrap">
        <ui-select-match placeholder="Search for CUI...">{{$select.selected.label+' - '+$select.selected.value}}</ui-select-match>
        <ui-select-choices repeat="elem.value as elem in bioportalAutocompleteResults |  propsFilter: {label: $select.search}" 
          refresh="bioportalAutocomplete($select.search)" refresh-delay="500">
          <div ng-bind-html="elem.label | highlight: $select.search"></div>
          <small>{{elem.value}}</small>
        </ui-select-choices>
      </ui-select>

      <div class="help-block" ng-messages="form.email.$error" ng-if="form.email.$touched">
        <div ng-messages-include="messages.html"></div>
      </div>

    </div>

    <div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
      <label>Observables</label>

      <!--&lt;{{$item.id}}&gt;-->
      <ui-select multiple ng-model="risk_element.observables" theme="bootstrap">
        <pre>{{$model| json}}</pre>
        <ui-select-match placeholder="Select observables">{{$item.label}} </ui-select-match>
        <ui-select-choices repeat="ob.value as ob in observables | propsFilter: {label: $select.search}">
          <div ng-bind-html="ob.label | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>

      <div class="help-block" ng-messages="form.email.$error" ng-if="form.email.$touched">
        <div ng-messages-include="messages.html"></div>
      </div>

    </div>
    
    <div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
      <label>Include other risk elements</label>

      <!--&lt;{{$item.id}}&gt;-->
      <ui-select multiple ng-model="risk_element.risk_elements" theme="bootstrap">
        <ui-select-match placeholder="Select risk elements">{{$item.label}} </ui-select-match>
        <ui-select-choices repeat="el.value as el in risk_elements | propsFilter: {label: $select.search}">
          <div ng-bind-html="el.label | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>

      <div class="help-block" ng-messages="form.email.$error" ng-if="form.email.$touched">
        <div ng-messages-include="messages.html"></div>
      </div>

    </div>



    <div class="form-group">
      <button type="button" ng-click="cancelForm()" class="btn btn-danger">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>

  </form>

  <!--<pre>form.name.$error = {{ form.name.$error | json }}</pre>-->
  <!--<pre>{{ risk_element | json }}</pre>-->

</div>



</div>
