.group {
  cursor: pointer;
}
.group:hover,.group.selected {
  font-size: large;
  font-weight: 900;
}
.chord path {
  cursor: pointer;
  fill-opacity: .8;
}

.chord path:hover,.chord path.selected  {
  fill-opacity: 1;
}

path {
  stroke: #000;
  stroke-width: .5px;
}

#chord svg g {
  transform-origin: 0px 0px
}