<div class="alert alert-default alert-group">

    <div class="form-inline">
        <select ng-options="o.name as o.name for o in operators" ng-model="group.operator" class="form-control input-sm"></select>
        <a style="margin-left: 5px" ng-click="addCondition()" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-plus-sign"></span> Add Condition</a>
        <a style="margin-left: 5px" ng-click="addGroup()" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-plus-sign"></span> Add Group</a>
        <a ng-show="$parent.group" style="margin-left: 5px" ng-click="removeGroup()" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-minus-sign"></span> Remove Group</a>
    </div>
    <div class="group-conditions">
        <div ng-repeat="rule in group.rules track by $index| orderBy:'index'" class="condition">
            <div ng-switch="rule.hasOwnProperty('group')">
                <div ng-switch-when="true">
                    <le-editor observables="observables" metypes="metypes" group="rule.group"></le-editor>
                </div>
                <div ng-switch-default="ng-switch-default">
                    <div class="form-inline">
                        <div class="row">
                                <ui-select class="le-editor observables input-sm" ng-model="rule.field" theme="bootstrap" ng-init="getMeasurementType(null, rule.field, rule)" on-select="getMeasurementType($item, $model, rule)">
                                    <ui-select-match placeholder="Select observable">{{$select.selected.label}} </ui-select-match>
                                    <ui-select-choices repeat="ob.value as ob in observables | propsFilter: {label: $select.search}">
                                        <div ng-bind-html="ob.label | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <select style="margin-left: 5px" ng-options="c.value as c.name for c in conditions" ng-model="rule.condition" class="form-control"></select>
                                <div class="input-group">
                                    <input ng-if="rule.datatype==='integer'" style="margin-left: 5px; width:90px" min="0" type="number" ng-model="rule.data" class="form-control">
                                    <input ng-if="rule.datatype==='float'" style="margin-left: 5px; width:90px" type="number" step="0.01" min="0" ng-model="rule.data" class="form-control">
                                    <select ng-if="rule.datatype==='enum'||rule.datatype==='boolean'"  style="margin-left: 5px" ng-options="c.value as c.name for c in rule.dataoptions" ng-model="rule.data" class="form-control"></select>

                                      <span class="input-group-addon" ng-show="rule.unit">{{rule.unit}}</span>
                                </div>
                                <a style="margin-left: 5px" ng-click="removeCondition($index)" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-minus-sign"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <span style="margin: 0 15%;" class="text-center label label-default">{{(($index+1)!==group.rules.length?group.operator:"")}}</span>
        </div>
    </div>
</div>