<div uib-collapse="!main.DEBUG" class="row">
  <div class="col-xs-12">
    Current measurement_type<pre>{{measurement_type | json}}</pre>
  </div>
</div>
<!--debug vars-->

<div class="col-xs-12">
  <div class="col-sm-6">
    ID: <b>{{measurement_type.id}}</b>
    <a ng-show="main.user.username" class="btn btn-xs btn-default" ui-sref="main.measurement_types.edit({id:measurement_type.id})"><i class="fa fa-pencil"></i> Edit</a>
    <hr>
    <ul class="list-group">
      <li ng-repeat="field in measurement_type.fields" ng-if="measurement_type.current[field.value]" class="list-group-item">
        {{field.label}} : <carre-linker model="measurement_type.current" property="{{field.value}}"></carre-linker>
      </li>
    </ul>
  </div>
  <div class="col-sm-6">


  </div>

</div>
