<div>
  
  <form name="form" novalidate ng-submit="saveModel()">

    <div class="form-group" ng-class="{ 'has-error': form.name.$touched && form.name.$invalid }">
      <label>Name</label>
      <input type="text" name="name" placeholder="e.g filtration rate" class="form-control" ng-model="measurement_type.name" required>

      <div class="help-block" ng-messages="form.name.$error" ng-if="form.name.$touched">
        <p ng-message="required">Name is required.</p>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
      <label>Date type</label>

      <ui-select ng-model="measurement_type.datatype" theme="bootstrap">
        <ui-select-match placeholder="Select datatype">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="type in datatypes">
          <div ng-bind-html="type | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>

      <div class="help-block" ng-messages="form.email.$error" ng-if="form.email.$touched">
        <div ng-messages-include="messages.html"></div>
      </div>

    </div>
    
    <div class="form-group" ng-if="measurement_type.datatype==='integer' || measurement_type.datatype==='float'" ng-class="{ 'has-error': form.unit.$touched && form.unit.$invalid }">
      <label>Unit</label>
      <input type="text" name="unit" placeholder="e.g ml/min/1.73 m^2" class="form-control" ng-model="measurement_type.unit" required>
      <div class="help-block" ng-messages="form.unit.$error" ng-if="form.unit.$touched">
        <p ng-message="required">Unit is required.</p>
      </div>
    </div>

    <div class="form-group" ng-if="measurement_type.datatype==='enum'" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
      <label>Values</label>
      <ui-select multiple tagging tagging-label="(custom 'new' value)"  ng-model="measurement_type.values" theme="bootstrap">
        <ui-select-match placeholder="Select values...">{{$item}}</ui-select-match>
        <ui-select-choices repeat="val in []">
          {{val}}
        </ui-select-choices>
      </ui-select>
      <div class="help-block" ng-messages="form.email.$error" ng-if="form.email.$touched">
        <div ng-messages-include="messages.html"></div>
      </div>
    </div>
    
    <div class="form-group" ng-if="measurement_type.datatype==='boolean'" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
      <label>Values</label>
      <ui-select multiple limit="2"  tagging tagging-label="(custom 'new' value)" ng-model="measurement_type.values" theme="bootstrap">
        <ui-select-match placeholder="Select values...">{{$item}}</ui-select-match>
        <ui-select-choices repeat="val in ['yes','no']">
          {{val}}
        </ui-select-choices>
      </ui-select>
      <div class="help-block" ng-messages="form.email.$error" ng-if="form.email.$touched">
        <div ng-messages-include="messages.html"></div>
      </div>
    </div>
    
    <div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
      <label>Semantic annotation for "{{measurement_type.unit||measurement_type.name||'e.g mmol/L'}}"</label>
      <div ng-show="loadingElementIdentifier" class="loadingSelect"></div>
      <ui-select tagging="addExternalType" tagging-label="false" ng-model="measurement_type.identifier" theme="bootstrap">
        <ui-select-match placeholder="Search...">{{$select.selected.label}} - {{$select.selected.value | sliceLast:'/' }}</ui-select-match>
        <ui-select-choices repeat="elem.value as elem in bioportalAutocompleteResults |  propsFilter: {label: $select.search}" 
          refresh="bioportalAutocomplete($select.search)" refresh-delay="500">
          <div ng-bind-html="elem.label | highlight: $select.search"></div>
          <small>{{elem.value}}</small>
        </ui-select-choices>
      </ui-select>
      <pre ng-show="measurement_type.identifier.length>1" ng-bind="measurement_type.identifier"></pre>
    </div>


    <div class="form-group">
      <button type="button" ng-click="cancelForm()" class="btn btn-danger">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>

  </form>

  <!--<pre>form.name.$error = {{ form.name.$error | json }}</pre>-->
  <!--<pre>{{ measurement_type | json }}</pre>-->

</div>