<div class="carre-element"> 
<div cg-busy="loading" style="position:relative;top:-15px;z-index:1"></div>
    <div ng-if="mode==='view'" class="carre-element-view">
        <!-- should be a component -->
        <div ng-class="{'col-sm-6':current.pubmedId,'col-sm-12':!current.pubmedId }">
            <ul class="list-group">
              <li ng-repeat="field in fields" ng-if="current[field.value]" class="list-group-item">
                {{field.label}}: <carre-linker model="current" property="{{field.value}}"></carre-linker>
              </li>
            </ul>
            <a href="{{rdf_source | trustAsResourceUrl}}" target="_blank" class="btn btn-default btn-xs pull-right">View RDF source</a>
        </div>
    </div>
    <div ng-if="mode!=='view'" class="carre-element-form">
        <risk-alert-form ng-if="type==='risk_alert'&&(current.id||mode==='create')" model="current"></risk-alert-form>
        <dss-message-form ng-if="type==='dss_message'&&(current.id||mode==='create')" model="current"></dss-message>
        <calculated-observable-form ng-if="type==='calculated_observable'&&(current.id||mode==='create')" model="current"></calculated-observable-form>
    </div>
</div>