<div class="carre-element"> 
<div cg-busy="loading" style="position:relative;top:-15px;z-index:1"></div>
    <div ng-if="mode==='view'" class="carre-element-view">
        <!-- should be a component -->
        <div ng-class="{'col-sm-6':current.pubmedId,'col-sm-12':!current.pubmedId }">
            <ul class="list-group">
              <li ng-repeat="field in fields" ng-if="current[field.value]" class="list-group-item">
                {{field.label}}: <carre-linker model="current" property="{{field.value}}"></carre-linker>
              </li>
            </ul>
            <a ng-href="{{rdf_source | trustAsResourceUrl}}" target="_blank" class="btn btn-default btn-xs pull-right">View RDF source</a>
        </div>
        <div ng-if="current.pubmedId" class="col-sm-6">
            <carre-view-pubmed id="{{current.pubmedId}}"></carre-view-pubmed>
        </div>
    </div>
    <div ng-if="mode!=='view'" class="carre-element-form">
        <risk-element-form ng-if="type==='risk_element'&&(current.id||mode==='create')" model="current"></risk-element-form>
        <risk-factor-form ng-if="type==='risk_factor'&&(current.id||mode==='create')" model="current"></risk-factor-form>
        <risk-evidence-form ng-if="type==='risk_evidence'&&(current.id||mode==='create')" model="current"></risk-evidence-form>
        <citation-form ng-if="type==='citation'&&(current.id||mode==='create')" model="current"></citation-form>
        <measurement-type-form ng-if="type==='measurement_type'&&(current.id||mode==='create')" model="current"></measurement-type-form>
        <observable-form ng-if="type==='observable'&&(current.id||mode==='create')" model="current"></observable-form>
    </div>
</div>