<div class="carre-element"> 
<div cg-busy="element.loading" style="position:relative;top:-35px;z-index:0"></div>
    <div ng-if="element.mode==='view'" class="carre-element-view">
        <!-- should be a component -->
        <ul class="list-group">
          <li ng-repeat="field in element.fields" ng-if="element.current[field.value]" class="list-group-item">
            {{field.label}}: <carre-linker model="element.current" property="{{field.value}}"></carre-linker>
          </li>
        </ul>
    </div>
    <div ng-if="element.mode!=='view'" class="carre-element-form">
        <risk-element-form ng-if="element.type==='risk_element'&&(element.current.id||element.mode==='create')" model="element.current"></risk-element-form>
        <risk-factor-form ng-if="element.type==='risk_factor'&&(element.current.id||element.mode==='create')" model="element.current"></risk-factor-form>
        <risk-evidence-form ng-if="element.type==='risk_evidence'&&(element.current.id||element.mode==='create')" model="element.current"></risk-evidence-form>
    </div>
</div>