<div>
  
  <form name="form" novalidate ng-submit="saveModel()">

    <div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
      <label>Source risk element</label>

      <ui-select ng-model="risk_factor.source" theme="bootstrap">
        <ui-select-match placeholder="Select risk element">{{$select.selected.label}}</ui-select-match>
        <ui-select-choices repeat="rl.value as rl in risk_elements | propsFilter: {label: $select.search}">
          <div ng-bind-html="rl.label | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>

      <div class="help-block" ng-messages="form.email.$error" ng-if="form.email.$touched">
        <div ng-messages-include="messages.html"></div>
      </div>

    </div>
    
    <div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
      <label>Target risk element</label>

      <ui-select ng-model="risk_factor.target" theme="bootstrap">
        <ui-select-match placeholder="Select risk element">{{$select.selected.label}}</ui-select-match>
        <ui-select-choices repeat="rl.value as rl in risk_elements | propsFilter: {label: $select.search}">
          <div ng-bind-html="rl.label | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>

      <div class="help-block" ng-messages="form.email.$error" ng-if="form.email.$touched">
        <div ng-messages-include="messages.html"></div>
      </div>

    </div>
    
    <div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
      <label>Association Type</label>

      <ui-select ng-model="risk_factor.type" theme="bootstrap">
        <ui-select-match placeholder="Select risk association type">{{$select.selected.label}}</ui-select-match>
        <ui-select-choices repeat="type.value as type in types | propsFilter: {label: $select.search}">
          <div ng-bind-html="type.label | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>

      <div class="help-block" ng-messages="form.email.$error" ng-if="form.email.$touched">
        <div ng-messages-include="messages.html"></div>
      </div>

    </div>

    <div class="form-group">
      <button type="button" ng-click="cancelForm()" class="btn btn-danger">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>

  </form>

  <!--<pre>form.name.$error = {{ form.name.$error | json }}</pre>-->
  <!--<pre>{{ risk_factor | json }}</pre>-->

</div>