<div class="carre-graph-controls">
  <!--element contrtols-->
  <div class="col-xs-6 col-sm-7 col-md-5">
    <div  ng-show="selectedId" class="panel panel-xs panel-default" style="margin:0;position:absolute;z-index:4">
      <div class="panel-heading" style="padding-top:0;padding-bottom:0;padding-left:0;">
        <button ng-show="!showDetails" style="background:none" ng-click="showDetails=!showDetails" class="btn btn-sm ">
          <i class="fa fa-caret-square-o-down"></i> Show details
        </button>
        <button ng-show="showDetails" ng-click="showDetails=!showDetails" class="btn btn-sm">
          <i class="fa fa-caret-square-o-up"></i> Hide details
        </button>
        <span class="hidden-xs"><strong>{{controls.getType(controls.selectedId).label}}</strong></span>
        <button ng-click="controls.navigate({})" class="btn btn-xs btn-primary" title="Navigate"><i class="fa fa-link"></i></button>
        <button ng-show="controls.selectedId && controls.selectedId.indexOf('RL')>=0 " title="Expand" 
          ng-click="controls.expand({id:controls.selectedId})" class="btn btn-xs btn-info"><i class="fa fa-share-alt"></i></button>
        <button ng-show="controls.selectedId && controls.selectedId.indexOf('RL')>=0 " title="Remove from graph" 
          ng-click="controls.clear({})" class="btn btn-xs btn-danger"> <i class="fa fa-remove"></i></button>
      </div>
      <div class="panel-body" ng-if="showDetails&&controls.selectedId">
        <carre-element elem-id="{{controls.selectedId}}" mode="view" not-fields="has_author,has_reviewer"></carre-element>
      </div>
    </div>
  </div>
  <!--graph controls-->
  <div class="col-xs-6 col-sm-5 col-md-5 col-md-offset-2 text-right">
    <div class="btn-group" uib-dropdown is-open="status.isopen">
      <button type="button" class="btn btn-sm btn-default" uib-dropdown-toggle>
        Options <span class="caret"></span>
      </button>
      <ul uib-dropdown-menu role="menu">
          <li ng-hide="controls.disableOptions.showRiskEvidences" role="menuitem"><label class="carre-dropdown-checkbox">Show Risk evidences  <input type="checkbox" ng-change="applyRefresh()" ng-model="controls.showRiskEvidences"></label></li>   
          <li ng-hide="controls.disableOptions.onlyPath" role="menuitem"><label class="carre-dropdown-checkbox">Show only path  <input type="checkbox" ng-change="applyRefresh()" ng-model="controls.onlyPath"> </label></li>
      </ul>
    </div>
    <button ng-click="controls.removeSize({})" class="btn btn-sm btn-default"><i class="fa fa-minus"></i></button>
    <button ng-click="controls.addSize({})" class="btn btn-sm btn-default"><i class="fa fa-plus"></i></button>
    <button ng-click="controls.refresh({})" class="btn btn-sm btn-default"><i class="fa fa-refresh"></i></button>
    <div><slider ng-if="controls.slider>=0" floor="0" step="20" ceiling="360" ng-model="controls.slider"></slider></div>
  </div>
</div>