<!--measurement_types list template-->
<div class="col-xs-12">
  <div id="grid1" ui-grid="measurement_types.mygrid" ui-grid-pagination ui-grid-selection ui-grid-resize-columns ui-grid-move-columns ui-grid-exporter ui-grid-auto-resize class="grid"></div>
</div>
<div pageslide ps-size="640px" ps-open="measurement_types.selectedMeasurement_type" ps-side="right">
  
  <div cg-busy="measurement_types.loading" style="padding:10px;">
    <a ui-sref="main.measurement_types.view({id:measurement_types.selectedMeasurement_type})" class="btn btn-primary">Profile</a>
    <a href="" ng-click="measurement_types.setPubmed()" class="btn btn-primary"><i class="fa fa-times fa-lg"></i></a>
    <br>
    <br>
    <div ng-if="measurement_types.selectedMeasurement_type">
      <div ng-if="measurement_types.pubmedApi" style="white-space: pre-line; overflow-y: auto;height: 95%; width:620px; position: fixed;" ng-bind-html="measurement_types.pubmedArticle"></div>

      <iframe ng-if="!measurement_types.pubmedApi" style="border:none; position: fixed; height:90%; width:620px" height="90%" width="620px" src="{{'http://www.ncbi.nlm.nih.gov/pubmed/'+measurement_types.selectedMeasurement_type | trustAsResourceUrl}}"></iframe>
    </div>
  </div>
  
</div>
