<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse collapse">
        <ul class="nav in" id="side-menu">
            <!--<sidebar-search></sidebar-search>-->
            <!--<li>-->
            <!--    <a href=""  style="border:none; text-align:left;" class="btn btn-default" ng-click="showAbout=!showAbout"><i class="fa fa-question-circle"></i> Help</a>-->
            <!--</li>-->
            <li>
                <a ui-sref="main.dashboard" ui-sref-active-if="main.dashboard"> Dashboard</a>
            </li>
            <li>
                <a ui-sref="main.risk_alerts.list" ui-sref-active-if="main.risk_alerts"> Risk Alerts</a>
            </li>
            <li>
                <a ui-sref="main.dss_messages.list" ui-sref-active-if="main.dss_messages"> DSS Messages </a>
            </li>
            <li>
                <a ui-sref="main.calculated_observables.list" ui-sref-active-if="main.calculated_observables"> Calculated observables </a>
            </li>

        </ul>
    </div>

    
    <!-- /.sidebar-collapse -->
    <!--<div pageslide ps-size="{{slideWidth}}px" ps-open="showAbout" ps-side="right">-->
    <!--    <div class="row" style="padding:30px; padding-top:15px; padding-bottom:0; margin-bottom:0;">-->
    <!--        <a href="" ng-click="showAbout=!showAbout" class="btn btn-primary pull-left"><i class="fa fa-times fa-lg"></i></a>-->
    <!--    </div>-->
    <!--    <div class="row" style="padding:50px; margin-top:0; padding-top:0; overflow: auto; height: 90%;">            -->
    <!--        <div autoscroll ng-include src="'app/about/about.html'"></div>-->
    <!--    </div>-->
    <!--</div>-->

</div>
