<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <sidebar-search></sidebar-search>
            <li ui-sref-active-if="main.dashboard">
                <a ui-sref="main.dashboard"> Dashboard</a>
            </li>
            <li ui-sref-active-if="main.risk_factors">
                <a ui-sref="main.risk_factors.list"> Risk Factors </a>
            </li>
            <li ui-sref-active-if="main.risk_evidences">
                <a ui-sref="main.risk_evidences.list"> Risk Evidences </a>
            </li>
            <li ui-sref-active-if="main.risk_elements">
                <a ui-sref="main.risk_elements.list"> Risk Elements </a>
            </li>
            <li ui-sref-active-if="main.observables">
                <a ui-sref="main.observables.list"> Observables </a>
            </li>
            <li ui-sref-active-if="main.citations">
                <a ui-sref="main.citations.list"> Citations </a>
            </li>
            <li ui-sref-active-if="main.measurement_types">
                <a ui-sref="main.measurement_types.list"> Measurement Types </a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div> 



