<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse collapse">
        <ul class="nav in" id="side-menu">
            <!--<sidebar-search></sidebar-search>-->
            <li>
                <img src="assets/images/merry_christmas2.png" style="width:100%" alt="Merry Christmas!">
            </li>
            <li>
                <a ui-sref="main.dashboard"  ui-sref-active-if="main.dashboard"> Dashboard</a>
            </li>
            <li>
                <a ui-sref="main.risk_factors.list" ui-sref-active-if="main.risk_factors"> Risk Factors </a>
            </li>
            <li>
                <a ui-sref="main.risk_evidences.list" ui-sref-active-if="main.risk_evidences"> Risk Evidences </a>
            </li>
            <li>
                <a ui-sref="main.risk_elements.list" ui-sref-active-if="main.risk_elements"> Risk Elements </a>
            </li>
            <li>
                <a ui-sref="main.observables.list" ui-sref-active-if="main.observables"> Observables </a>
            </li>
            <li>
                <a ui-sref="main.citations.list" ui-sref-active-if="main.citations"> Citations </a>
            </li>
            <li>
                <a ui-sref="main.medical_experts.list" ui-sref-active-if="main.medical_experts"> Medical experts </a>
            </li>
            <li>
                <a ui-sref="main.measurement_types.list" ui-sref-active-if="main.measurement_types"> Measurement Types </a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div> 



