.node rect {
  cursor: move;
  fill-opacity: 0.8;
  stroke-width:1;
  shape-rendering: crispEdges;
}
.node rect:hover,.node rect.selected {
  fill-opacity: 1;
  stroke-width:12;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
  font-size: 22px;
  font-weight: bold;
  fill:#333333;
}
.link {
  fill: none;
  stroke: #aaaaaa;
  stroke-opacity: .7;
}
.link:hover,.link.selected {
  stroke-opacity: 1;
}
