<div>
  
  <form name="form" novalidate ng-submit="saveModel()">

    <div class="form-group" ng-class="{ 'has-error': form.name.$touched && form.name.$invalid }">
      <label>Name</label>
      <input type="text" name="name" placeholder="e.g glucose tolerance test" class="form-control" ng-model="observable.name" required>

      <div class="help-block" ng-messages="form.name.$error" ng-if="form.name.$touched">
        <p ng-message="required">Name is required.</p>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
      <label>Type</label>

      <ui-select ng-model="observable.type" theme="bootstrap">
        <ui-select-match placeholder="Select observable type">{{$select.selected.label}}</ui-select-match>
        <ui-select-choices repeat="type.value as type in types | propsFilter: {label: $select.search}">
          <div ng-bind-html="type.label | highlight: $select.search"></div>
          <!--<small> {{type.label}} </small>-->
        </ui-select-choices>
      </ui-select>

      <div class="help-block" ng-messages="form.email.$error" ng-if="form.email.$touched">
        <div ng-messages-include="messages.html"></div>
      </div>

    </div>

    <div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
      <label>Measurement type</label>

      <ui-select ng-model="observable.measurement_type" theme="bootstrap">
        <ui-select-match placeholder="Select measurement type">{{$select.selected.label}}</ui-select-match>
        <ui-select-choices repeat="obj.value as obj in measurement_types | propsFilter: {label: $select.search}">
          <div ng-bind-html="obj.label | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>

      <div class="help-block" ng-messages="form.email.$error" ng-if="form.email.$touched">
        <div ng-messages-include="messages.html"></div>
      </div>

    </div>
  
  
    <div class="form-group">
      <label>Semantic annotation for "{{observable.name||'e.g age'}}"</label>
      <div class="alert alert-warning" style="margin-bottom: 0">  {{observable.identifier}} </div>
      <uib-accordion close-others="true">
        <uib-accordion-group>
          <uib-accordion-heading><span uib-popover="Clinical Measurement Ontology by Bioportal" popover-trigger="mouseenter">CMO ontology</span> <div ng-show="loadingElementIdentifier" class="loadingSelect"></div></uib-accordion-heading>
          <ui-select ng-model="observable.identifier" theme="bootstrap">
            <ui-select-match allow-clear="true" placeholder="Search...">{{$select.selected.label}} - {{$select.selected.value | sliceLast:'/' }}</ui-select-match>
            <ui-select-choices repeat="elem.value as elem in bioportalAutocompleteResults |  propsFilter: {label: $select.search}" 
              refresh="bioportalAutocomplete($select.search)" refresh-delay="500">
              <div ng-bind-html="elem.label | highlight: $select.search"></div>
              <small>{{elem.value}}</small>
            </ui-select-choices>
          </ui-select>
        </uib-accordion-group>
        <uib-accordion-group heading="Custom">
            <input type="text" name="name" placeholder="e.g {{observable.name}}" class="form-control" ng-change="transformIdentifier(customIdentifier)" ng-model="customIdentifier">
        </uib-accordion-group>
      </uib-accordion>
    </div>
    
    
  
    <div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
      <label>Sensor annotation for "{{observable.name||'e.g age'}}"</label>
      <div class="alert alert-warning" style="margin-bottom: 0">  {{observable.predicate}} </div>  
      <uib-accordion close-others="true">
        <uib-accordion-group>
          <uib-accordion-heading><span uib-popover="CARRE Sensors ontology" popover-trigger="mouseenter">CARRE Sensors ontology</span> <div ng-show="loadingElementIdentifier" class="loadingSelect"></div></uib-accordion-heading>
          <ui-select on-select="transformPredicate(customPredicate)" ng-model="customPredicate" theme="bootstrap">
            <ui-select-match allow-clear="true" placeholder="Select from sensors ontology..">{{$select.selected }}</ui-select-match>
            <ui-select-choices repeat="elem in SensorPredicates |  filter : $select.search">
              <div ng-bind-html="elem | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>  
        </uib-accordion-group>
        <uib-accordion-group heading="Custom">
          <input type="text" name="name" placeholder="Or type a custom name" class="form-control" ng-change="transformPredicate(customPredicate)" ng-model="customPredicate">
        </uib-accordion-group>
      </uib-accordion>         
    </div>
    
    
    <div class="form-group">
      <button type="button" ng-click="cancelForm()" class="btn btn-danger">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>

  </form>

  <!--<pre>form.name.$error = {{ form.name.$error | json }}</pre>-->
  <!--<pre>{{ observable | json }}</pre>-->

</div>