<div>
  
  <form name="form" novalidate ng-submit="saveModel()">

    <div class="form-group" ng-class="{ 'has-error': form.name.$touched && form.name.$invalid }">
      <label>Name</label>
      <input type="text" name="name" placeholder="e.g glucose tolerance test" class="form-control" ng-model="observable.name" required>

      <div class="help-block" ng-messages="form.name.$error" ng-if="form.name.$touched">
        <p ng-message="required">Name is required.</p>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
      <label>Type</label>

      <ui-select ng-model="observable.type" theme="bootstrap">
        <ui-select-match placeholder="Select observable type">{{$select.selected.label}}</ui-select-match>
        <ui-select-choices repeat="type.value as type in types | propsFilter: {label: $select.search}">
          <div ng-bind-html="type.label | highlight: $select.search"></div>
          <!--<small> {{type.label}} </small>-->
        </ui-select-choices>
      </ui-select>

      <div class="help-block" ng-messages="form.email.$error" ng-if="form.email.$touched">
        <div ng-messages-include="messages.html"></div>
      </div>

    </div>

    <div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
      <label>Measurement type</label>

      <ui-select ng-model="observable.measurement_type" theme="bootstrap">
        <ui-select-match placeholder="Select measurement type">{{$select.selected.label}}</ui-select-match>
        <ui-select-choices repeat="obj.value as obj in measurement_types | propsFilter: {label: $select.search}">
          <div ng-bind-html="obj.label | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>

      <div class="help-block" ng-messages="form.email.$error" ng-if="form.email.$touched">
        <div ng-messages-include="messages.html"></div>
      </div>

    </div>
    
    


    <div class="form-group" ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
      <label>Semantic annotation for "{{observable.name||'e.g age'}}"</label>
      <div ng-show="loadingElementIdentifier" class="loadingSelect"></div>
      <ui-select tagging="addExternalType" tagging-label="false" ng-model="observable.identifier" theme="bootstrap">
        <ui-select-match placeholder="Search...">{{$select.selected.label}} - {{$select.selected.value | sliceLast:'/' }}</ui-select-match>
        <ui-select-choices repeat="elem.value as elem in bioportalAutocompleteResults |  propsFilter: {label: $select.search}" 
          refresh="bioportalAutocomplete($select.search)" refresh-delay="500">
          <div ng-bind-html="elem.label | highlight: $select.search"></div>
          <small>{{elem.value}}</small>
        </ui-select-choices>
      </ui-select>
      <pre ng-show="observable.identifier.length>1" ng-bind="observable.identifier"></pre>
    </div>


    <div class="form-group">
      <button type="button" ng-click="cancelForm()" class="btn btn-danger">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>

  </form>

  <!--<pre>form.name.$error = {{ form.name.$error | json }}</pre>-->
  <!--<pre>{{ observable | json }}</pre>-->

</div>